body {
	margin: 0;
	overflow: hidden;
}
#color{
	position: absolute;
	margin: 0;
	width: 54px;
	height:58px;
	right: 10px;
	bottom: 60px;
	border: none;
	background: none;
}
#removePaint{
	position: absolute;
	margin: 0;
	width: 50px;
	height:50px;
	right: 15px;
	bottom: 10px;
	background: lightgray;
}
